
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

* {
  padding: 0px;
  margin: 0px;
}


section#featured {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 100%;
  z-index: 0;
  clear: both;
  padding: 1px 0px 0px 0px;
  background-image: url(/images/feature_photos/sommer_fjell.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#featured .wrapper {
  position: absolute;
  min-width: 780px;
  top: 20%;
  left: 10%;
}


section#featured .image-fullscreen:hover {
  opacity: 1;
}

section#featured .wrapper .logowrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 150px;
}

.logowrapper .logobox {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 15px solid white;
  border-image:  linear-gradient(left bottom, #F2F2F5 8%, #FFFFFF 52%) 25 30 10 20 repeat stretch;
  border-image:  -o-linear-gradient(left bottom, #F2F2F5 8%, #FFFFFF 52%) 25 30 10 20 repeat stretch;
  border-image:  -moz-linear-gradient(left bottom, #F2F2F5 8%, #FFFFFF 52%) 25 30 10 20 repeat stretch;
  border-image:  -webkit-linear-gradient(left bottom, #F2F2F5 8%, #FFFFFF 52%) 25 30 10 20 repeat stretch;
  border-image:  -ms-linear-gradient(left bottom, #F2F2F5 8%, #FFFFFF 52%) 25 30 10 20 repeat stretch;
  background-color: rgba(255,255,255, 0.2)
}

.logowrapper .logobox .dot {
  position: absolute;
  height: 4%;
  width: 8%;
  background-color: white
}

.logowrapper .logobox .dot.a {
  bottom: 20px;
  left: 20px;
}

.logowrapper .logobox .dot.b {
  bottom: -18px;
  left: 20px;
}

section#featured .wrapper .content {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  margin-left: 35px;
}

section#featured .wrapper .content header {
  margin-bottom: 35px;
  margin-top: -20px;
}

section#featured .wrapper .content header h1, 
section#featured .wrapper .content header h2 {
  color: white;
  font-family: "ff-enzo-web";
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.3);
}

section#featured .wrapper .content header h1 {
  font-weight: 100;
  font-size: 5em;
}

section#featured .wrapper .content header h2 {
  font-weight: 100;
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  color: rgb(240, 240, 240);
}


section#featured .desc {
  display: inline-block;
  vertical-align: top;
  color: whitesmoke;
  font-family: "Helvetica Neue";
}

section#featured .desc p {
  margin-bottom: 10px;
  font-family: "source-sans-pro";
  font-weight: 100;
  font-size: 1em;
  line-height: 1.8em;
  text-shadow: 1px 1px 2px rgba(1,1,1, 0.1);
  color: whitesmoke;
  display: inline-block;
  vertical-align: top;
  width: 50%
}

section#featured .socialicons {
  margin-top: 60px;
}

section#featured .socialicons .socialicon {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  opacity: 0.8;
  -ms-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

section#featured .socialicons .socialicon:hover {
  opacity: 1;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


section#featured .socialicons .socialicon#facebook {
  background-image: url(/images/gfx/social/PNG/48x48/facebook.png);
}

section#featured .socialicons .socialicon#twitter {
  background-image: url(/images/gfx/social/PNG/48x48/twitter.png);
}

section#featured .desc #player {
  margin-bottom: 20px; 
}

.typekit-badge {
  display: none!important;
}


@media only screen and (max-width : 320px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

  html {
    height: auto;
  }

  body {
    height: auto;
  }

  section#featured .content {
    max-width: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    box-sizing: border-box;
  }

  .content {

    max-width: auto;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    margin-top: 10px;
  }

  section#featured .content h1 {
    font-size: 8em;
    font-weight: 600;
  }

  section#featured .content h2 {
    font-size: 6em;
    font-weight: 300;
  }

  section#featured .desc p {
    font-size: 3em;
  }

  section#featured .desc #player {
    margin-bottom: 20px;
    height: 300px;
  }

}
