
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

* {
  padding: 0px;
  margin: 0px;
}

.content {
  width: 1280px;
  padding: 0px 20px;
  margin-left: 10%;
}


section#featured {
  width: 100%;
  height: 100%;
  z-index: 0;
  clear: both;
  padding: 1px 0px 0px 0px;
  background-image: url(/images/feature_photos/sommer_fjell.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section#featured .image-fullscreen {
  display: none;
  z-index: 9999;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  background-image: url(/images/gfx/image-fullscreen.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 28px;
  width: 32px;
  cursor: pointer;
  opacity: 0.85;
}

section#featured .image-fullscreen:hover {
  opacity: 1;
}

section#featured .content {
  max-width: 600px;
  margin-top: 13%;  
}

section#featured h1.monument {
  vertical-align: top;
  position: relative;
  z-index: 1;
  color: white;
  font-family: "museo-sans";
  font-weight: 100;
  font-size: 5em;
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.3);
}

section#featured .desc {
  display: inline-block;
  vertical-align: top;
  color: whitesmoke;
  font-family: "Helvetica Neue";
}

section#featured .desc h2 {
  font-weight: 100;
  font-family: "museo-sans";
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgb(36, 36, 36);
  color: rgb(240, 240, 240);
  margin-bottom: 40px;
}

section#featured .desc p {
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  margin-bottom: 10px;
  font-family: "museo-sans";
  /*background-color: rgba(0,0,0, 0.3);*/
  padding: 5px;
  text-shadow: 1px 1px 1px black;
}

section#featured .desc #player {
  margin-bottom: 20px;
}

.typekit-badge {
  display: none!important;
}
