
<div class="podcasts row">

  <% podcasts.forEach(function(podcast) { %>

    <div class="col-xs-6 col-sm-3 podcast" itemscope itemtype="http://schema.org/MusicComposition">
      <a href="<%= podcast.soundcloudTrack.permalink_url%>" target="_blank">

        <img src="<%=podcast.soundcloudTrack.artwork_url%>" alt="" />

        <h5 itemprop="name">
          <% console.log(podcast.soundcloudTrack.title) %>
          <%=podcast.soundcloudTrack.title.replace('Monument', '')%>
        </h5>

        <div itemprop="composer" itemprop="creator" itemprop="producer" style="display: none;">
          <%=podcast.soundcloudTrack.title.replace('Monument', '').replace(/\d+\:/, '').trim()%>
        </div>

        <div itemprop="audience" style="display: none;">
          ravers, freaks, everyone, old, young, sick and healthy
        </div>

        <div itemprop="genre" style="display: none;">
          techno mix
        </div>

        <div itemprop="label" style="display: none;">
          Monument
        </div>

      </a>
    </div>

  <% }) %>

</div>
