extends layout

block content

  //- div#hero

  //-   div#monument
  //-   h1="monument"

  //-   div#info
  //-     h2="01 2013"
  //-     input#email(placeholder="epost")
  //-     button#send="Informer meg"
