extends layout

block content

  section#featured
    .content
      div.row
        h1.monument="MONUMENT"
        div.desc
          h2="01: Korpex"
          iframe( id="player", width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2674868&show_artwork=false&color=A5BD7D")
          p="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar risus eu purus feugiat eget porta orci dictum. Duis vel dolor tortor, at porta leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel velit eros. Maecenas bibendum, risus vitae porttitor tempor, dui nulla ultrices nibh, eget ornare dui est eget mi. Mauris iaculis lobortis arcu ac tempus. Pellentesque imperdiet, ante eu ullamcorper aliquet, augue metus ornare metus, id scelerisque enim nisi vel nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar risus eu purus feugiat eget porta orci dictum. Duis vel dolor tortor, at porta leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel velit eros. Maecenas bibendum, risus vitae porttitor tempor, dui nulla ultrices nibh, eget ornare dui est eget mi. Mauris iaculis lobortis arcu ac tempus. Pellentesque imperdiet, ante eu ullamcorper aliquet, augue metus ornare metus, id scelerisque enim nisi vel nunc."
    div.image-fullscreen

  