
<div class="podcasts row">

  <% podcasts.forEach(function(podcast) { %>

    <div class="col-xs-6 col-sm-3 podcast">
      <a href="<%= podcast.soundcloudTrack.permalink_url%>" target="_blank">
        <img src="<%=podcast.soundcloudTrack.artwork_url%>" alt="" />
        <h5><%=podcast.soundcloudTrack.title.replace('Monument', '')%></h5>
      </a>
    </div>

  <% }) %>

</div>
