<!DOCTYPE html>
<html>
  <head>
    <title>Monument</title>

    <meta property="og:title"content="Monument podcast" />

    <meta property="og:description" content="Meld deg på for informasjon om fremtidige, offentlige, samt private arrangementer." />

    <meta property="og:image" content="http://monument.herokuapp.com/images/2_1.png" />
    <meta property="og:image:secure_url" content="https://monument.herokuapp.com/images/2_1.png" />

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
  </body>
</html>
