<!-- <section class="data-filter">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      {{input type="text" value=search placeholder="search" class="form-control"}}
    </div>
  </form>
</section> -->

<div class="row list">

  <header class="col-sm-12 row">

    <div class="col-sm-3 title">
      <h3>Pages</h3>
    </div>

  </header>

  <div class="col-sm-12 row table-wrapper">
    <section class="col-sm-12 data-table">

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each page in controller}}
            <tr>
              <td>
                {{#link-to 'page.edit' page.model}} {{page.model.name}} {{/link-to}}
              </td>
              <td>todo</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" {{action 'destroy' page}}>delete</button>
              </td>
            </tr>
          {{/each}}

          <tr>
            <td colspan="3" class="create">
              {{#link-to 'page.create'}}
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              {{/link-to}}
            </td>
          </tr>

        </tbody>
      </table>

    </section>
  </div>

</div>