<html>
  <head>
    <title></title>
    <script charset="utf-8">
      @PROGRAM@
    </script>
    <style media="screen">
      @CSS@
    </style>
  </head>
  <body>

    <header>
      <h1>MONUMENT</h1>
    </header>

    <section id="content">

      <div id="player">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/36637708&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=false"></iframe>
      </div>

    </section>

  </body>
</html>
