/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

@import './bootstrap/bootstrap.less';
@import 'vars.less';
@import 'globals.less';
@import 'fonts.less';

body {
  margin: 15px 0px;
  text-align: center;
}

header {

  #header-nav {
    ul li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .logo-wrapper {
    width: auto;
    display: inline-block;
  }

}


ul.podcasts {

  margin: 15px 0px 0px 0px;

  li.podcast {
    width: 300px;
    margin: 0px auto 15px auto;
  }

}