/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

@import './bootstrap/bootstrap.less';
@import 'vars.less';
@import 'globals.less';
@import 'fonts.less';

body {
  margin: 15px 0px;
}

header {

  margin-bottom: 25px;

  #header-nav {
    ul li {
      display: inline-block;
      margin-right: 10px;
      &.active {
        border-bottom: 1px solid black;
      }
      &:hover {
        border-bottom: 1px solid rgba(80,80,80, 0.4);
      }
    }
  }

  .logo-wrapper {
    width: auto;
    display: inline-block;
  }

}

.page.static-page {
  a {
    color: rgba(10,60, 255, 0.6);
    text-decoration: underline;
  }
}

.podcasts {

  .row {
    margin-bottom: 15px;
  }

  .podcast {
    a {
      text-decoration: none;
    }
    img {
      border-radius: 2px;
      .transition(all 0.1s ease-out);

      &:hover {
        .scale(1.1);
      }
    }
  }

}