header#main-header {

  margin-top: 20px;
  margin-bottom: 35px;

  #header-nav {
    ul li {
      display: inline-block;
      margin-right: 10px;
      &.active {
        border-bottom: 1px solid black;
      }
      &:hover {
        border-bottom: 1px solid rgba(80,80,80, 0.4);
      }
    }
  }

  .logo-wrapper {
    margin-bottom: 10px;

    .logo {
      position: relative;
      h1 {
        display: inline-block;
        vertical-align: top;
        font-family: 'Alegreya Sans SC';
        font-size: 48px;
        font-weight: 100;
        color: #646464;
        vertical-align: center;
        margin: 0;
        text-shadow: 5px -1px 0px rgba(255, 255, 255, 0);
      }

    }
  }
}